* {
    padding: 0;
    margin: 0;
}

#login_box {
    border: 1px solid black;
    padding: 5px;
}

.login_col {
    display: inline-flex;
}

.login_row {
    margin-bottom: 5px;
}

.login_err {
    color: red;
}

a.button {
    padding-top: 15px;
}

.post {
    margin-top: 10px;
    margin-bottom: 10px;
	width:40%;
    border: 1px solid black;
	background-color:#5CF374;
	margin: 0 auto;
}

.post .title_inp {
    display: block;
	width: 100%;
}

.post .contents_inp {
    display: block;
    width: 100%;
    min-height: 100px;
}

.post img {
    max-width: 100%;
}

.menu {
    list-style: none;
    margin-bottom: 20px;
	width:99.5%;
	background-color:#5CF374;
	height:50px;
}

.menu-item {
    display: inline-block;
	margin-top:14px;
	height:20px;
	border:1px solid black;
	background-color: #CCCCCC;
	float:right;
	margin-right:2px;
}

#profile-info {
	    overflow: hidden;
}

#profile-info img {
    max-width: 200px;
    max-height: 200px;
}